<div class="jumbotron">

  <h1>achieve</h1>
  <p>経験ゼロからWebエンジニアになる！</p>
  <p>achieveは、目標達成を支援するWebアプリケーションです。</p>

  <p><a class="btn btn-primary btn-lg" href="#" role="button">いますぐ始める</a></p>
  <%= link_to "facebook認証", user_omniauth_authorize_path(:facebook), class: 'btn btn-social btn-facebook' %>
  <%= link_to "twitter認証", user_omniauth_authorize_path(:twitter), class: 'btn btn-social btn-twitter' %>
</div>


