<h1>Editing Comment</h1>

<div class="panel panel-default">
<%= render partial:'comments/form',locals: { comment: @comment} %>
</div>

<%= link_to 'Show', blog_comment_path(@comment.blog,@comment) %> |
<%= link_to 'Back', blog_path(@comment.blog) %>
