
<% @users.each do |user| %>

<div class="panel panel-default">
  <div class="panel-heading"><%= user.name %></div>
  <div class="panel-body"><%= user.profile %></div>
  <img alt="Flower" src=<%=profile_img user %> width="10"  />
</div>

<% end %>