<div class="boxb">

<% @users.each do |user| %>
 <% unless current_user?(user) %>
<div><%= user.id  %><%=link_to user.name , user %> </div>

   <% if member?(user) && member_project_num?(@pj_num) %>
       <%= render partial:'dele_form',locals:{user: user} %>
    <% else %>   
       <%= render partial:'add_form',locals:{user: user} %>
   <% end %>

<% end %>
<% end %>
</div>
