
<% @users.each do |user| %>

 <div class="boxb">
<div><%=link_to user.name , user %>を </div>
<div>
   <% if  member_project_num?( @pj_num , user.id ) %>
       <%= render partial:'dele_form',locals:{user: user} %>
    <% else %>   
       <%= render partial:'add_form',locals:{user: user} %>
   <% end %>
   </div>
</div>


<% end %>


