
<% provide(:title, '全てのユーザー') %>
<h3>メンバー管理</h3>

<div class="row2">
<ul class="users">
  <%= render 'user', locals: { user: @users }%>
</ul>
</div>

<div class="clear">
<%= paginate @users %>
</div>