
<% provide(:title, 'メンバー一覧') %>
<h4>プロジェクト作成者</h4>
<%=@project_master.user.name %>
<h4>メンバー一覧</h4>
<div class="list-group">
<div>
  <%= render 'member', locals: { member: @member_list }%>
</div>

</div>