
<% @contacts.each do |contact| %>

<div class="panel panel-default">
  <div class="panel-heading"><%= contact.name %></div>
  <div class="panel-body"><%= contact.email %></div>
  <img alt="Flower" src=<%= contact.message %> width="100"  />
</div>

<% end %>