
<% @contacts.each do |contact| %>

<div class="panel panel-default">
  <div class="panel-heading"><%= contact.name %></div>
  <div class="panel-body"><%= contact.email %></div>
  <div class="panel-body"><%= contact.message=contact.message.gsub(/\r\n|\r|\n/, "<br />").html_safe %></div>
</div>

<% end %>