// Place all the styles related to the Memberships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.boxb {
    width: 130px;
    float: left;
}

.row2 {
    margin-left: -15px;
    margin-right: -15px;
    width: 400px;
}